# Products of ./configure
/Makefile
/config.status
/config.log
/libtool
/Config/config.h
/Config/stamp-h1
/src/.deps
/src/two_loop_thresholds/.deps/

# Products of make
/.libs
/src/*.lo
/src/*.o
/src/.dirstamp
/src/.libs
/*.x
/libsoft.la
/doc/*.ps
/doc/*.spl
/doc/*.dvi
/doc/*.blg
/doc/*.bbl
/doc/*.log
/doc/*.aux
/doc/*.toc
/doc/*.out
